body {
  background-color: lightblue;
  font-family: verdana;
}
.main {
  background-image: url('../images/kawaii.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
}
.headname{
  /* background: url(/images/kawaii.jpg); */
  background-color: black;
  color: beige;
}
.paragraph{
    background-color: red;
    color: black;
}
.kawai {
  max-width: 100px;
  min-height: 100px;

}